In [2]:
import pandas as pd

In [5]:
df = pd.DataFrame([
        ['PE', 'Pernambuco', 'Recife'], ['RJ', 'Rio de Janeiro', 'Rio de Janeiro'],
        ['PB', 'Paraíba', 'João Pessoa'], ['SP', 'São Paulo', 'São Paulo'],
        ['MG', 'Minas Gerais', 'Belo Horizonte'], ['CE', 'Ceará', 'Fortaleza'],
        ['AC', 'Acre', 'RIo Branco'], ['MA', 'Maranhão', 'São Luís'], ['RN', 'Rio Grande do Norte'],
        ['PR', 'Paraná', 'Curitiba'], ['RS', 'Rio Grande do Sul', 'Porto Alegre']
    ], columns=['Sigla', 'Nome', 'Capital']
)
df

   Sigla                 Nome         Capital
0     PE           Pernambuco          Recife
1     RJ       Rio de Janeiro  Rio de Janeiro
2     PB              Paraíba     João Pessoa
3     SP            São Paulo       São Paulo
4     MG         Minas Gerais  Belo Horizonte
5     CE                Ceará       Fortaleza
6     AC                 Acre      RIo Branco
7     MA             Maranhão        São Luís
8     RN  Rio Grande do Norte            None
9     PR               Paraná        Curitiba
10    RS    Rio Grande do Sul    Porto Alegre

In [6]:
df['Sigla']

0     PE
1     RJ
2     PB
3     SP
4     MG
5     CE
6     AC
7     MA
8     RN
9     PR
10    RS
Name: Sigla, dtype: object

In [12]:
df.index

RangeIndex(start=0, stop=11, step=1)

In [1]:
df.ix[0]

NameError: name 'df' is not defined

In [13]:
df.iloc[0]

Sigla              PE
Nome       Pernambuco
Capital        Recife
Name: 0, dtype: object

In [14]:
df.ix[:2]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [15]:
df.iloc[:2]

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro

In [16]:
df.index[0]

0

In [17]:
df.index = pd.Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])

In [18]:
df

   Sigla                 Nome         Capital
1     PE           Pernambuco          Recife
2     RJ       Rio de Janeiro  Rio de Janeiro
3     PB              Paraíba     João Pessoa
4     SP            São Paulo       São Paulo
5     MG         Minas Gerais  Belo Horizonte
6     CE                Ceará       Fortaleza
7     AC                 Acre      RIo Branco
8     MA             Maranhão        São Luís
9     RN  Rio Grande do Norte            None
10    PR               Paraná        Curitiba
11    RS    Rio Grande do Sul    Porto Alegre

In [19]:
df.index = df['Sigla']

In [20]:
df

      Sigla                 Nome         Capital
Sigla
PE       PE           Pernambuco          Recife
RJ       RJ       Rio de Janeiro  Rio de Janeiro
PB       PB              Paraíba     João Pessoa
SP       SP            São Paulo       São Paulo
MG       MG         Minas Gerais  Belo Horizonte
CE       CE                Ceará       Fortaleza
AC       AC                 Acre      RIo Branco
MA       MA             Maranhão        São Luís
RN       RN  Rio Grande do Norte            None
PR       PR               Paraná        Curitiba
RS       RS    Rio Grande do Sul    Porto Alegre

In [22]:
df.ix['PE']

AttributeError: 'DataFrame' object has no attribute 'ix'