In [13]:
from db import DB

In [14]:
database = DB(filename='logs.sqlite3', dbtype='sqlite')

Indexing schema. This will take a second...finished!

In [15]:
database.tables

Refreshing schema. Please wait...done!

+--------+-------+-------------------------+
| Schema | Table | Columns                 |
+--------+-------+-------------------------+
| public | log   | id, path, user_id, date |
+--------+-------+-------------------------+

In [16]:
log_df = database.tables.log

In [19]:
log_df

+---------------------------------------------------+
|                        log                        |
+---------+---------+--------------+----------------+
| Column  | Type    | Foreign Keys | Reference Keys |
+---------+---------+--------------+----------------+
| id      | integer |              |                |
| path    | text    |              |                |
| user_id | integer |              |                |
| date    | numeric |              |                |
+---------+---------+--------------+----------------+

In [20]:
log_dif = database.tables.log.all()

In [21]:
log_df

+---------------------------------------------------+
|                        log                        |
+---------+---------+--------------+----------------+
| Column  | Type    | Foreign Keys | Reference Keys |
+---------+---------+--------------+----------------+
| id      | integer |              |                |
| path    | text    |              |                |
| user_id | integer |              |                |
| date    | numeric |              |                |
+---------+---------+--------------+----------------+

In [24]:
log_df = database.query('select * from log where user_id = 3')

In [25]:
log_df

    id                  path  user_id                 date
0    1                     /        3  2017-01-03T11:41:00
1    6              /cursos/        3  2017-01-03T11:31:00
2   13    /django-ecommerce/        3  2017-01-03T11:59:00
3   16              /cursos/        3  2017-01-03T11:39:00
4   22    /django-ecommerce/        3  2017-01-03T10:35:00
5   28    /django-ecommerce/        3  2017-01-03T11:57:00
6   34              /pandas/        3  2017-01-03T11:43:00
7   38              /videos/        3  2017-01-03T11:58:00
8   47              /pandas/        3  2017-01-03T10:55:00
9   51  /python-para-zumbis/        3  2017-01-03T11:57:00
10  56                     /        3  2017-01-03T11:45:00
11  60              /videos/        3  2017-01-03T11:37:00
12  64                     /        3  2017-01-03T10:48:00
13  66    /django-ecommerce/        3  2017-01-03T10:54:00
14  69  /python-para-zumbis/        3  2017-01-03T11:50:00
15  73                     /        3  2017-01-03T11:49:00
16  78  /python-para-zumbis/        3  2017-01-03T11:54:00
17  79              /pandas/        3  2017-01-03T11:57:00
18  80              /videos/        3  2017-01-03T11:32:00
19  82    /django-ecommerce/        3  2017-01-03T11:39:00
20  83              /pandas/        3  2017-01-03T11:51:00
21  85    /django-ecommerce/        3  2017-01-03T10:45:00
22  94    /django-ecommerce/        3  2017-01-03T11:54:00
23  99  /python-para-zumbis/        3  2017-01-03T10:56:00

In [27]:
log_df = database.query('select * from log')

In [28]:
len(log_df)

100